ion-content{
    --background: #ffffff;
    ion-item{
        --background: #ffffff;
        --color: rgb(133, 132, 132);
    }
        
    ion-button{
        --background: #00a79d;
    }

    ion-img{
        display: block;
        margin: 0 auto;
    }


} 

input{
    width: 100%;
}