<ion-content>
  <form #form="ngForm">
    <ion-grid class="mt-3">
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-padding-top" size-md="6" size-lg="5" size-xs="12"
          style="background-color: #ffffff; border-radius: 3px">
          <ion-img class="biomark_logo" style="width:250px; height:100px" src="assets/biomark_logo.png"></ion-img>
          <ion-row class="ion-padding-top">
            <ion-col>
              <!-- <ion-item>
                  <ion-label position="floating">Username</ion-label>
                  <ion-input [(ngModel)]="mobile" name="mobile" type="text"></ion-input>
              </ion-item> -->
              <ion-item>
                <input style="width: 100%;" type="number" ng2TelInput (hasError)="hasError($event)"
                (ng2TelOutput)="getNumber($event)" (intlTelInputObject)="telInputObject($event)"
                (countryChange)="onCountryChange($event)"
                [ng2TelInputOptions]="{initialCountry: 'ph', onlyCountries: ['ph', 'my', 'sg']}" />
            </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input [(ngModel)]="password" name="password" type="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-button class="ion-margin-top" size="large" type="submit" expand="block" (click)="goLogin()">Login
          </ion-button>
          <ion-row>
            <ion-col class="ion-align-items-start">
              <div>No account yet?</div>
              <ion-button class="ion-margin-top" color="light" size="large" expand="block" (click)="goRegister()">
                Register</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>