.avatar {
  background: #8393ae;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 70px;
  text-align: center;
  padding-top: 34px;
}
.default_text{
  font-size: 16px;
  font-weight: 500;
  white-space: pre;
}
.end-wrapper{
  text-align: end;
}