<ion-menu side="end">
  <ion-content class="ion-text-center">
    <div class="avatar">
      <!-- {{dashData.short}} -->
    </div>
    <br>
    <!-- <ion-label class="default_text">{{dashData.name_only}}</ion-label><br>
    <ion-label class="default_text">{{dashData.email_address}}</ion-label><br>
    <ion-label class="default_text">{{dashData.mobile_number}}</ion-label><br> -->
    <ion-row class="ion-justify-content-center">
        <ion-buttons class="ion-padding-top" (click)="goLogout()">
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-buttons>
    </ion-row>
  </ion-content>


  <!-- <ion-footer class="ion-padding">
    <div class="end-wrapper">
      <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-buttons>
    </div>
  </ion-footer> -->
</ion-menu>
<div class="ion-page" main>
  <ion-header>
    <ion-toolbar style="padding: 0 10px">
      <ion-buttons slot="start">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- <ion-title>{{dashData.name_only}}</ion-title> -->
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-text-center" class="force-center">
    <ion-button size="large" class="ion-margin" type="submit" expand="block" (click)="showInput()">Input Code
    </ion-button>
    <ion-button size="large" class="ion-margin" type="submit" expand="block" (click)="showScanner()">Scan Code
    </ion-button>
    <ion-card *ngIf="scanCode">
      <ion-card-content>
        <p class="default_text">Results from Scan</p><br>
        <!-- <p>Barcode: {{barcodeData.barcode}}</p><br>
        <p>Name: {{barcodeData.name}}</p><br>
        <p>IC Number: {{barcodeData.ic_number}}</p><br>
        <p>Gender: {{barcodeData.gender}}</p><br>
        <p>Birth Date{{barcodeData.birth_date}}</p><br> -->
      </ion-card-content>
    </ion-card>
  </ion-content>