<ion-header collapse="condense">
  <ion-toolbar class="otp-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="register"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" size="large">VERIFICATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <div class="ion-text-center">Enter the 6 digit code you received now in your phone to continue</div>
  <ion-item class="ion-padding-top">
    <ion-input class="ion-text-center" [(ngModel)]="otp" name="otp" type="password"></ion-input>
  </ion-item>
  <ion-button class="ion-margin-top" color="tertiary" size="default" expand="block" (click)="verify()">CONTINUE
  </ion-button>
</ion-content>