ion-router-outlet{
    margin-top: 20px; /* Status bar height on iOS 10 */
    margin-top: constant(safe-area-inset-top); /* Status bar height on iOS 11.0 */
    margin-top: env(safe-area-inset-top);
}