<ion-content>
  <form #form="ngForm">
    <ion-grid class="mt-3">
      <ion-row class="ion-justify-content-center" style="width: 100%;">
        <ion-col class="on-justify-content-cente ion-padding-top" size-md="6" size-lg="5" size-xs="12"
          style="background-color: #ffffff; border-radius: 3px">
          <ion-img class="biomark_logo" style="width:250px; height:100px" src="assets/biomark_logo.png"></ion-img>
        </ion-col>
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ion-row>
      <ion-row>
        <ion-text class="ion-justify-content-center ion-text-center">
          <h4>Your account is under verification. Please contact administration for further assisantance.</h4>
        </ion-text>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button class="ion-margin-top" style="width: 100px;" color="tertiary" size="default" (click)="backHome()">OK
        </ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>