<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm">
    <ion-grid class="mt-3">
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-padding-top" size-md="6" size-lg="5" size-xs="12"
          style="background-color: #ffffff; border-radius: 3px">
          <ion-img class="biomark_logo" style="width:250px; height:100px" src="assets/biomark_logo.png"></ion-img>
          <ion-row class="ion-padding-top">
            <ion-col>
              <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input [(ngModel)]="firstName" name="firstName" type="text" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Middle Name</ion-label>
                <ion-input [(ngModel)]="middleName" name="middleName" type="text" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input [(ngModel)]="lastName" name="lastName" type="text" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">IC Number</ion-label>
                <ion-input [(ngModel)]="ic" name="ic" type="text" required></ion-input>
              </ion-item>
              <ion-list>
                <ion-radio-group [(ngModel)]="gender_id" name="gender_id">
                  <ion-list-header>
                    <ion-label>Gender</ion-label>
                  </ion-list-header>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label>Male</ion-label>
                        <ion-radio slot="start" value="1"></ion-radio>
                      </ion-item>
                    </ion-col>
                    <ion-col>
                      <ion-item>
                        <ion-label>Female</ion-label>
                        <ion-radio slot="start" value="2"></ion-radio>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-radio-group>
              </ion-list>
              <ion-item>
                <ion-label position="floating">Birthday</ion-label>
                <ion-input [(ngModel)]="birthday" name="birthday" type="text" required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Employer</ion-label>
                <ion-input [(ngModel)]="employer" name="employer" type="text" required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-button class="ion-margin-top" size="large" type="submit" expand="block" (click)="goContinue()">Continue
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>